html {
  scroll-behavior: smooth;

}
#markdown-content {
  h1 {
    font-size: 2.4vw;
    text-align: center;
    padding-top: 8vh;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5vw;
    font-weight: bold;
    padding-top: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-bottom: 1vh;
    border-bottom: 2px solid #686969;
  }

  h3 {
    font-size: 1.3vw;
    font-weight: bold;
    padding-top: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-bottom: 1vh;
    border-bottom: 2px solid #686969;
  }

  h4 {
    font-size: 1.2vw;
    font-weight: bold;
    padding-top: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-bottom: 1vh;
  }

                                img {
                                  width: 100%;
                                  margin-left: 3vw;
                                  margin-right: 3vw;
                                  margin-top: 1vh;
                                }

  p {
    text-align: left;
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 1.3vw;
    font-weight: normal;

    code {
      background-color: #f4f4f4;
      padding: 0.2vw;
      border-radius: 5px;
    }
  }

  ul {
    li {
      font-size: 1.3vw;
      margin-left: 3vw;
      margin-right: 3vw;
      padding-top: 1vh;
    }
  }

                                ol {
                                  li {
                                    font-size: 1.3vw;
                                    margin-left: 3vw;
                                    margin-right: 3vw;
                                    padding-top: 1vh;
                                  }
                                }

  .astro-code {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1vw;
    padding: 1vw;
    border-radius: 10px;
    margin-top: 3vh;
  }

                                blockquote {
                                  width: 90%;
                                  font-size: 1.3vw;
                                  margin-left: 3vw;
                                  margin-right: 3vw;
                                  padding-top: 1vh;
                                  padding-bottom: 1vh;
                                  border-left: 5px solid #686969;
                                  background-color: #f4f4f4;
                                  border-radius: 5px;
                                  padding-left: 0;
                                }

                                a {
                                  color: #0000ff;
                                  text-decoration: none;
                                  font-weight: bold;
                                }

                                a:visited {
                                  color: #000080;
                                }

                                table {
                                  width: 90%;
                                  margin-left: 3vw;
                                  margin-right: 3vw;
                                  border-collapse: collapse;
                                  border-spacing: 0;
                                  border: 1px solid #686969;

    th,
      td {
        border: 1px solid #686969;
        padding: 0.5vw;
      }

                                                                th {
                                                                  background-color: #f4f4f4;
                                                                }
                                                                }

                                img {
                                  margin-top: 1vh;
                                  margin-left: auto;
                                  margin-right: auto;
                                }
}