@font-face {
  font-family: "Bahnschrift";
  src: url("/BAHNSCHRIFT.TTF") format("truetype");
}
body {
  font-family: "Bahnschrift", sans-serif;
  background-color: #c6dff4;
}
body .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #ecf0f3;
  font-weight: bold;
}
body .menu .left_object {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 25%;
  padding-top: 0.5vw;
  padding-left: 2vw;
  padding-bottom: 0.5vw;
}
body .menu .left_object img {
  width: 4.5vw;
  height: 4.5vw;
}
body .menu .left_object p {
  margin-left: 15px;
  font-size: 1.5vw;
  color: #7a7c7d;
}
body .menu .right_object {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 0.5vw;
  padding-right: 3vw;
}
body .menu .right_object a {
  text-decoration: none;
  color: #7a7c7d;
  font-size: 1.5vw;
  margin-right: 3vw;
}
body .title {
  font-size: 1.7vw;
  color: #7a7c7d;
  height: 53vh;
  display: flex;
  padding-top: 4vw;
  justify-content: center;
  align-items: center;
}
body .title h1 {
  text-align: center;
  color: #1a2023;
}
body .left_content {
  width: 22%;
  left: 6%;
  padding-bottom: 2vw;
  position: fixed;
  top: 53vh;
}
body .left_content .index {
  background-color: #ffffff;
  border-radius: 1.5vw;
  padding-bottom: 1vw;
}
body .left_content .index p {
  font-size: 1.5vw;
  color: #1a2023;
  padding-top: 1vw;
  padding-left: 2vw;
  font-weight: bold;
  padding-bottom: 0.6vw;
}
body .left_content .index .index_object .text_1 {
  font-weight: bold;
  font-size: 1.2vw;
}
body .left_content .index .index_object .text_2 {
  font-weight: initial;
  font-size: 1.1vw;
}
body .left_content .index .index_object .text_3 {
  font-weight: lighter;
  font-size: 1.1vw;
}
body .left_content .index .index_object .node {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-left: 2vw;
  height: -moz-min-content;
  height: min-content;
}
body .left_content .index .index_object .node .menu_images {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
body .left_content .index .index_object .node .menu_images .line {
  width: 2px;
}
body .left_content .index .index_object .node .menu_images .circle {
  width: 1.4vw;
  height: 1.4vw;
}
body .left_content .index .index_object .node a {
  margin-left: 9px;
  text-decoration: none;
}
body .left_content .writer {
  background-color: #ffffff;
  border-radius: 1.5vw;
  margin-top: 2vw;
}
body .left_content .writer p {
  font-size: 1.5vw;
  color: #1a2023;
  padding-top: 1vw;
  padding-left: 2vw;
  font-weight: bold;
  padding-bottom: 0.6vw;
}
body .left_content .writer .profile {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1vw;
  padding-left: 2vw;
  padding-top: 0;
}
body .left_content .writer .profile .user_image {
  width: 2.8vw;
  height: 2.8vw;
  border-radius: 50%;
  background-image: url("/sample.jpg");
  margin-right: 0.7vw;
  border: #c6dff4 solid 3.5px;
}
body .right_content .markdown {
  margin: 0 6% 0 auto;
  background-color: #ffffff;
  width: 63%;
  height: 1800px;
  border-radius: 1.5vw;
}