@font-face {
  font-family: "Bahnschrift";
  src: url("/BAHNSCHRIFT12.TTF") format("truetype");
}
body {
  font-family: "Bahnschrift", sans-serif;
  background-color: #c6dff4;
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #ecf0f3;
    font-weight: bold;
    .left_object {
      display: flex;
      justify-content: left;
      align-items: center;
      width: 25%;
      padding-top: 0.5vw;
      padding-left: 2vw;
      padding-bottom: 0.5vw;
      img {
        width: 4.5vw;
        height: 4.5vw;
      }
      p {
        margin-left: 15px;
        font-size: 1.5vw;
        color: #7a7c7d;
      }
    }
    .right_object {
      display: flex;
      justify-content: right;
      align-items: center;
      padding-top: 0.5vw;
      padding-right: 3vw;
      a {
        text-decoration: none;
        color: #7a7c7d;
        font-size: 1.5vw;
        margin-right: 3vw;
      }
    }
  }
  .title {
    font-size: 1.7vw;
    color: #7a7c7d;
    height: 53vh;
    display: flex;
    padding-top: 4vw;
    justify-content: center;
    align-items: center;
    h1 {
      text-align: center;
      color: #1a2023;
    }
  }
  .left_content {
    width: 22%;
    left: 6%;
    padding-bottom: 2vw;
    position: fixed;
    top: 53vh;
    .index {
      background-color: #ffffff;
      border-radius: 1.5vw;
      padding-bottom: 1vw;
      p {
        font-size: 1.5vw;
        color: #1a2023;
        padding-top: 1vw;
        padding-left: 2vw;
        font-weight: bold;
        padding-bottom: 0.6vw;
      }
      .index_object {
        .text_1 {
          font-weight: bold;
          font-size: 1.2vw;
        }
        .text_2 {
          font-weight: initial;
          font-size: 1.1vw;
        }
        .text_3 {
          font-weight: lighter;
          font-size: 1.1vw;
        }
        .node {
          display: flex;
          justify-content: left;
          align-items: flex-start;
          margin-left: 2vw;
          height: min-content;
          .menu_images {
            display: flex;
            justify-content: center;
            flex-flow: column;
            align-items: center;
            .line {
              width: 2px;
            }
            .circle {
              width: 1.4vw;
              height: 1.4vw;
            }
          }
          a {
            margin-left: 9px;
            text-decoration: none;
          }
        }
      }
    }
    .writer {
      background-color: #ffffff;
      border-radius: 1.5vw;
      margin-top: 2vw;
      p {
        font-size: 1.5vw;
        color: #1a2023;
        padding-top: 1vw;
        padding-left: 2vw;
        font-weight: bold;
        padding-bottom: 0.6vw;
      }
      .profile {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 1vw;
        padding-left: 2vw;

        padding-top: 0;
        .user_image {
          width: 2.8vw;
          height: 2.8vw;
          border-radius: 50%;
          background-image: url("/sample.jpg");
          margin-right: 0.7vw;
          border: #c6dff4 solid 3.5px;
        }
      }
    }
  }
  .right_content {
    .markdown {
      margin: 0 6% 0 auto;
      background-color: #ffffff;
      width: 63%;
      height: 1800px;
      border-radius: 1.5vw;
    }
  }
}
