---
import Footer from "../components/footer";
import "../styles/global.css";
import "../styles/index.scss";
import Header from "../components/header.tsx";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VitaliNK</title>
    <link rel="icon" type="image/icon" href="/favicon.ico" sizes="256x256" />
    <script src="/index.js" is:inline></script>
  </head>
  <body>
    <Header />
    <div class="top">
      <img class="text" src="/vitalnk.webp" alt="" loading="lazy" />
      <img
        id="top-image-1"
        class="top-image-1"
        src="/natto.avif"
        loading="lazy"
        alt=""
      />
    </div>
    <div class="content1">
      <p>
        <span>Natto</span> is a traditional Japanese food has a huge place in our
        culture. But could it be more than just a healthy food?
      </p>
    </div>
    <div class="content2">
      <h1>The Problem</h1>
      <div class="yoko">
        <div class="text">
          <p>
            Thrombosis occurs when <span>blood clots</span> form in arteries and
            veins, clogging the flow. They can lead to other major problems, being
            responsible for 1 in 3 deaths in Japan, <span
              >a serious concern in this aging society.</span
            >
          </p>
          <img src="/top-img-1.gif" loading="lazy" alt="" />
          <p>
            Early-stage treatment drugs have heavy side effects, making <span>
              healthy diets/exercises from a daily basis crucially important for
              prevention.
            </span>
          </p>
        </div>
      </div>
    </div>

    <div class="content3">
      <h1>Key to approach</h1>
      <div class="text-3">
        <p>
          <span>Nattokinase</span>, an enzyme in Japanese fermented food natto,
          is known for its <span>
            powerful fibrinolytic activity to break down blood clots</span
          >, without adverse side effects. Researchers have focused on its
          potential as an antithrombotic agent, but <span>
            complicated extraction methods</span
          > and <span>underdeveloped methods to engineer B. subtilis natto</span
          > have limited its use.
        </p>
      </div>
      <img src="/top-img-2.webp" class="top-img-2" alt="" />

      <h2>A Novel chasis</h2>

      <div class="yoko-2">
        <div class="image-content">
          <img src="/top-img-3.png" class="top-img-3" alt="" />

          <h4>
            Development of Bacillus subtilis as a cell factory for membrane
            proteins and protein complexes - Scientific Figure on ResearchGate.
            Available from:
            <a
              href="https://www.researchgate.net/figure/Scanning-electron-microscopic-image-of-B-subtilis-168_fig1_30496684"
              >https://www.researchgate.net/figure/Scanning-electron-microscopic-image-of-B-subtilis-168_fig1_30496684</a
            >
            [accessed 29 Sept 2024]
          </h4>
        </div>
        <div class="text">
          <p>
            <span>B. subtilis natto</span> is the bacteria that produces nattokinase
            during fermentation of soybeans. It is one of the highly consumed non-pathogenic,
            probiotic bacteria. However, B. subtilis natto is <span
              >not a widely used chassis</span
            >
            due to its poor natural genetic competence and lack of cloning methods.
          </p>
        </div>
      </div>
      <img class="top-img-4" src="/top-img-4.gif" alt="" loading="lazy" />

      <p class="last-p">
        Our goal is to <span>engineer B. subtilis natto</span> to <span
          >overproduce nattokinase</span
        >
        and implement them into the product: <span>teabag</span>. Integrated
        into daily consumption, this can ameliorate the world’s thrombosis
        prevention, while simultaneously advancing the synthetic biology
        community with this creative chassis.<br />
        Our goal is to form a product that is <span>vital</span> for future health
        of Japan and the world, <span>link</span>ing the power of synbio with
        people's lives using <span>N</span>atto<span>K</span>inase.
      </p>
    </div>
    <Footer />
  </body>
</html>
