---
import Footer from "../components/footer";
import "../styles/global.css";
import "../styles/index.scss";
import Header from "../components/header.tsx";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VitaliNK</title>
    <link rel="icon" type="image/icon" href="/favicon.ico" sizes="256x256" />
    <script src="/src/styles/index.js" type="module" is:inline></script>
  </head>
  <body>
    <Header />
    <div class="top">
      <img class="text" src="/vitalnk.png" alt="" loading="lazy" />
      <img class="top-image-1" src="/natto.png" loading="lazy" alt="" />
    </div>
    <div class="content1">
      <p>
        TestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTest
        TestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTest
      </p>
      <p>
        <span>
          TestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTest
        </span>
      </p>
    </div>
    <div class="content2">
      <h1>The Problem</h1>
      <div class="yoko">
        <div class="text">
          <p>
            Thrombosis occurs when blood clots form in arteries and veins,
            clogging the flow. They can lead to other major problems, being
            responsible for 1 in 3 deaths in Japan, a serious concern in this
            aging society.
          </p>
          <img src="/top-img-1.gif" loading="lazy" alt="" />
          <p>
            Early-stage treatment drugs have heavy side effects, making healthy
            diets/exercises from a daily basis crucially important for
            prevention.
          </p>
        </div>
      </div>
    </div>

    <div class="content3">
      <h1>Key to approach</h1>
      <p>
        Our first goal is to engineer ADP1 so that its suitable as a chassis
        organism. Once ADP-1’s genome has been engineered, we will make ADP1
        based antibiotic resistance detectors with the objective of introducing
        our ADP1 chassis as an ideal model bacteria for Synthetic Biology
        applications.
      </p>
      <img src="/top-img-2.webp" class="top-img-2" alt="" />

      <h2>A Novel chasis</h2>

      <div class="yoko-2">
        <div class="image-content">
          <img src="/top-img-3.png" class="top-img-3" alt="" />

          <h4>
            Development of Bacillus subtilis as a cell factory for membrane
            proteins and protein complexes - Scientific Figure on ResearchGate.
            Available from:
            <a
              href="https://www.researchgate.net/figure/Scanning-electron-microscopic-image-of-B-subtilis-168_fig1_30496684"
              >https://www.researchgate.net/figure/Scanning-electron-microscopic-image-of-B-subtilis-168_fig1_30496684</a
            >
            [accessed 29 Sept 2024]
          </h4>
        </div>
        <div class="text">
          <p>
            B. subtilis natto is the bacteria that produces nattokinase during
            fermentation of soybeans. It is one of the highly consumed
            non-pathogenic, probiotic bacteria. However, B. subtilis natto is
            not a widely used chassis due to its poor natural genetic competence
            and lack of cloning methods.
          </p>
        </div>
      </div>

      <p class="last-p">
        Our goal is to engineer B. subtilis natto to overproduce nattokinase and
        implement them into the product: teabag. Integrated into daily
        consumption, this can ameliorate the world’s thrombosis prevention,
        while simultaneously advancing the synthetic biology community with this
        creative chassis.
      </p>
      <img class="top-img-4" src="/top-img-4.gif" alt="" loading="lazy" />
    </div>
    <Footer />
  </body>
</html>
