---
import Footer from "../components/footer";
import "../styles/global.css";
import "../styles/index.scss";
import Header from "../components/header.tsx";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VitaliNK</title>
    <script src="/src/styles/gsap.min.js" is:inline></script>

    <script src="/src/styles/ScrollTrigger.js" is:inline></script>

    <script src="/src/styles/index.js" type="module" is:inline></script>
  </head>
  <body>
    <Header />
    <div class="top">
      <img class="text" src="/vitalnk.png" alt="" />
      <img class="top-image-1" src="/natto.png" alt="" />
    </div>
    <div class="content1">
      <p>
        TestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTest
        TestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTest
      </p>
      <p>
        <span>
          TestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTest
        </span>
      </p>
    </div>
    <div class="content2">
      <h1>The Problem</h1>
      <div class="yoko">
        <div class="text">
          <p>
            Thrombosis occurs when blood clots form in arteries and veins,
            clogging the flow. They can lead to other major problems, being
            responsible for 1 in 3 deaths in Japan, a serious concern in this
            aging society.
          </p>
          <img src="/top-img-1.gif" alt="" />
          <p>
            Early-stage treatment drugs have heavy side effects, making healthy
            diets/exercises from a daily basis crucially important for
            prevention.
          </p>
        </div>
      </div>
    </div>

    <div class="content3">
      <h1>Key to approach</h1>
      <p>
        Our first goal is to engineer ADP1 so that its suitable as a chassis
        organism. Once ADP-1’s genome has been engineered, we will make ADP1
        based antibiotic resistance detectors with the objective of introducing
        our ADP1 chassis as an ideal model bacteria for Synthetic Biology
        applications.
      </p>
      <img src="/top-img-2.webp" class="top-img-2" alt="" />

      <h2>A Novel chasis</h2>

      <p>
        Our first goal is to engineer ADP1 so that its suitable as a chassis
        organism. Once ADP-1’s genome has been engineered, we will make ADP1
        based antibiotic resistance detectors with the objective of introducing
        our ADP1 chassis as an ideal model bacteria for Synthetic Biology
        applications.
      </p>
      <img src="/contributors/contributor1.webp" alt="" />
      <p class="last-p">
        Our first goal is to engineer ADP1 so that its suitable as a chassis
        organism. Once ADP-1’s genome has been engineered, we will make ADP1
        based antibiotic resistance detectors with the objective of introducing
        our ADP1 chassis as an ideal model bacteria for Synthetic Biology
        applications.
      </p>
      <img src="/contributors/contributor1.webp" alt="" />
    </div>
    <Footer />
  </body>
</html>
