---
const { frontmatter, headings } = Astro.props;
import Header from "../components/header.tsx";
import "../styles/global.css";
import "../styles/markdown.scss";
import Footer from "../components/footer.tsx";
import MemberCard from "../components/membercard.tsx";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <script src="/src/styles/anime.min.js" is:inline></script>
    <title>Members</title>
  </head>
  <body class="bg-[#ECF0F3]">
    <div
      id="mask1"
      class="h-[100%] w-[100%] bg-[#FFFFFF] fixed top-0 left-0 z-[1000]"
    >
    </div>
    <div id="mask2" class="h-[100%] w-[100%] fixed top-0 left-0 z-[1000]">
      <div class="flex justify-center items-center w-[100%] h-[100%]">
        <img
          src="/public/contributors/contributor1.webp"
          alt=""
          class="ml-[20vw] w-[50vw]"
        />
        <div class="z-[1001] ml-[7vw]">
          <h1 class="text-customGray text-3xl">Tomoro Saito</h1>
          <p class="w-[70%] mt-[2.8vh] leading-7">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
            blanditiis tenetur unde suscipit, quam beatae rerum inventore
            consectetur, neque doloribus, cupiditate numquam dignissimos laborum
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
          </p>
        </div>
      </div>
    </div>

    <Header />
    <div class="text-gray-600 h-[40vh] flex ml-[10.5%] items-center" id="title">
      <h1 class="text-[#4D4D4D] text-[4vw] font-[800] mt-[70px]">Members</h1>
    </div>
    <div class="m-[1vh] flex justify-center">
      <div class="w-[80%]">
        <h2 class="text-gray-600 text-[1.3vw] font-[600] text-center">WET</h2>
        <div class="flex justify-between">
          <MemberCard contributor="contributor1" client:load />
          <MemberCard contributor="contributor2" client:load />
          <MemberCard contributor="contributor3" client:load />
        </div>
        <div class="flex justify-between">
          <MemberCard contributor="contributor3" client:load />
          <MemberCard contributor="contributor4" client:load />
          <MemberCard contributor="contributor5" client:load />
        </div>
        <div class="flex justify-between">
          <MemberCard contributor="contributor6" client:load />
          <MemberCard contributor="contributor7" client:load />
          <MemberCard contributor="contributor8" client:load />
        </div>
        <div class="flex justify-between">
          <MemberCard contributor="contributor9" client:load />
          <MemberCard contributor="contributor10" client:load />
          <MemberCard contributor="contributor11" client:load />
        </div>
        <div class="flex justify-between">
          <MemberCard contributor="contributor12" client:load />
          <MemberCard contributor="contributor13" client:load />
          <MemberCard contributor="contributor14" client:load />
        </div>
        <div class="flex justify-between">
          <MemberCard contributor="contributor15" client:load />
          <MemberCard contributor="contributor16" client:load />
          <MemberCard contributor="contributor17" client:load />
        </div>
      </div>
    </div>

    <Footer />
    <script is:inline src="/memberCardHover.js"></script>
  </body>
</html>
