---
const { frontmatter, headings } = Astro.props;
import Header from "../components/header.tsx";
import "../styles/global.css";
import "../styles/markdown.scss";
import Footer from "../components/footer.tsx";
import MemberCard from "../components/membercard.tsx";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <script src="/anime.min.js" is:inline></script>
    <title>Members</title>
  </head>
  <body class="bg-[#ECF0F3] font-font-Arial">
    <div
      id="mask1"
      class="h-[100%] w-[100%] bg-[#FFFFFF] fixed top-0 left-0 z-[1000] hidden opacity-0"
    >
    </div>
    <div
      id="mask2"
      class="h-[100%] w-[100%] fixed top-0 left-0 z-[1000] hidden opacity-0"
    >
      <div class="flex justify-center items-center w-[100%] h-[100%]">
        <img
          src="/contributors/contributor1.webp"
          alt=""
          class="ml-[20vw] w-[20vw]"
        />
        <div class="z-[1001] ml-[7vw]">
          <h1 class="text-customGray text-3xl">Tomoro Saito</h1>
          <p class="w-[70%] mt-[2.8vh] leading-7"></p>
        </div>
      </div>
    </div>

    <Header />
    <div
      class="text-gray-600 mt-[9vh] flex items-center justify-center"
      id="title"
    >
      <h1 class="text-[#4D4D4D] text-[4vw] font-[800] p-[8vh] pt-[9vh]">
        Members
      </h1>
    </div>
    <div class="m-[1vh] flex justify-center">
      <div class="w-[80%]">
        <div class="flex justify-center mt-[3.5vh]">
          <MemberCard contributor="contributor0" client:load />
        </div>
        <div class="flex justify-center mt-[2vh]">
          <MemberCard contributor="contributor1" client:load />
          <MemberCard contributor="contributor2" client:load />
          <MemberCard contributor="contributor3" client:load />
          <MemberCard contributor="contributor4" client:load />
        </div>
        <div class="flex justify-center mt-[3.5vh]">
          <MemberCard contributor="contributor5" client:load />
          <MemberCard contributor="contributor6" client:load />
          <MemberCard contributor="contributor7" client:load />
          <MemberCard contributor="contributor8" client:load />
        </div>
        <div class="flex justify-center mt-[3.5vh]">
          <MemberCard contributor="contributor9" client:load />
          <MemberCard contributor="contributor10" client:load />
          <MemberCard contributor="contributor11" client:load />
          <MemberCard contributor="contributor12" client:load />
        </div>
        <div class="flex justify-center mt-[3.5vh]">
          <MemberCard contributor="contributor13" client:load />
          <MemberCard contributor="contributor14" client:load />
          <MemberCard contributor="contributor15" client:load />
          <MemberCard contributor="contributor16" client:load />
        </div>
      </div>
    </div>

    <Footer />
    <script is:inline src="/memberCardHover.js"></script>
  </body>
</html>
