---
const { frontmatter, headings } = Astro.props;
import Header from "../components/header.tsx";
import "../styles/global.css";
import "../styles/markdown.scss";
import Footer from "../components/footer.tsx";
import MemberCard from "../components/membercard.tsx";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Members</title>
  </head>
  <body class="bg-[#ECF0F3]">
    <Header />

    <div class="text-gray-600 h-[40vh] flex ml-[10.5%] items-center" id="title">
      <h1 class="text-[#4D4D4D] text-[4vw] font-[800] mt-[70px]">Members</h1>
    </div>
    <div class="m-[1vh] flex justify-center">
      <div class="w-[80%]">
        <h2 class="text-gray-600 text-[1.3vw] font-[600] text-center">WET</h2>
        <div class="flex justify-between">
          <MemberCard contributor="contributor1" client:load />
          <MemberCard contributor="contributor2" client:load />
          <MemberCard contributor="contributor3" client:load />
        </div>
        <div class="flex justify-between">
          <MemberCard contributor="contributor3" client:load />
          <MemberCard contributor="contributor4" client:load />
          <MemberCard contributor="contributor5" client:load />
        </div>
        <div class="flex justify-between">
          <MemberCard contributor="contributor6" client:load />
          <MemberCard contributor="contributor7" client:load />
          <MemberCard contributor="contributor8" client:load />
        </div>
        <div class="flex justify-between">
          <MemberCard contributor="contributor9" client:load />
          <MemberCard contributor="contributor10" client:load />
          <MemberCard contributor="contributor11" client:load />
        </div>
        <div class="flex justify-between">
          <MemberCard contributor="contributor12" client:load />
          <MemberCard contributor="contributor13" client:load />
          <MemberCard contributor="contributor14" client:load />
        </div>
        <div class="flex justify-between">
          <MemberCard contributor="contributor15" client:load />
          <MemberCard contributor="contributor16" client:load />
          <MemberCard contributor="contributor17" client:load />
        </div>
      </div>
    </div>

    <Footer />
    <script is:inline src="/markdown/image.js"></script>
    <script is:inline src="/markdown/index_move.js"></script>
    <script is:inline src="/markdown/index_highlight.js"></script>
  </body>
</html>
