<nav id="menu" class="nav-menu flex justify-between items-center bg-[#ECF0f3] p-4 font-bold z-50">
  <a class="flex items-center w-1/4 pt-[0.5vw] pl-[2vw] pb-[0.5vw]" href="/">
    <img src="/logo.webp" class="h-[3vw]" />
  </a>
  <ul class="menu-list">
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/team">Team &or;</a>
      <ul class="drop-menu-list">
        <li class="drop-menu-item">
          <a href="#">Team</a>
        </li>
        <li class="drop-menu-item">
          <a href="#">Attributions</a>
        </li>
      </ul>
    </li>
    <li class="menu-item drop-menu">
      <a href="/project">Project &or;</a>
      <ul class="drop-menu-list">
        <li class="drop-menu-item">
          <a href="#">Contribution </a>
        </li>
        <li class="drop-menu-item">
          <a href="#">Description </a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="/wet">Wet &or;</a>
      <ul class="drop-menu-list">
        <li class="drop-menu-item">
          <a href="#">Plant</a>
        </li>
        <li class="drop-menu-item">
          <a href="#">Safety</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="/dry">DRY &or;</a>
      <ul class="drop-menu-list">
        <li class="drop-menu-item">
          <a href="#">Hardware</a>
        </li>
        <li class="drop-menu-item">
          <a href="#">Measurement</a>
        </li>
        <li class="drop-menu-item">
          <a href="#">Model</a>
        </li>
        <li class="drop-menu-item">
          <a href="#">Software</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="#">Safety</a>
    </li>
    <li class="menu-item">
      <a href="#">Human Practices</a>
    </li>
  </ul>
</nav>
