---
---

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Markdown Design example</title>
  <link rel="stylesheet" href="/rese.css">
  <link rel="stylesheet" href="/markdown.css">
</head>
<body>
  <div class="menu">
    <div class="left_object">
      <img src="/logo.png" alt="">
      <p>iGEM Grand Tokyo</p>
    </div>
    <div class="right_object">
      <a href="/index.html">TEAM</a>
      <a href="/about.html">PROJECT</a>
      <a href="/project.html">WET LAB</a>
      <a href="/team.html">DRY LAB</a>
      <a href="/contact.html">HUMAN PRACTICE</a>
    </div>
  </div>
  <div class="title" id="title">
    <h1>Markdown Design example</h1>
  </div>
  <div class="left_content" id="left_content">
    <div class="index">
      <p>Index</p>
      <div class="index_object">
        <div class="node text_1">
          <div class="menu_images">
            <img class="circle" src="/index_1.svg" alt="">
            <img src="/line.svg" class="line" alt="">
          </div>
          <a href="#title">Title</a>
        </div>
        <div class="node text_1">
          <div class="menu_images">
            <img class="circle" src="/index_1.svg" alt="">
            <img src="/line.svg" class="line" alt="">
          </div>
          <a href="#title">Example Some Title</a>
        </div>
        <div class="node text_2">
          <div class="menu_images">
            <img class="circle" src="/index_2.svg" alt="">
            <img src="/line.svg" class="line" alt="">
          </div>
          <a href="#title">Small Title</a>
        </div>
        <div class="node text_2">
          <div class="menu_images">
            <img class="circle" src="/index_2.svg" alt="">
            <img src="/line.svg" class="line" alt="">
          </div>
          <a href="#title">Small Title</a>
        </div>
        <div class="node text_2">
          <div class="menu_images">
            <img class="circle" src="/index_2.svg" alt="">
            <img src="/line.svg" class="line" alt="">
          </div>
          <a href="#title">Very Small Title</a>
        </div>
        <div class="node text_2">
          <div class="menu_images">
            <img class="circle" src="/index_2.svg" alt="">
            <img src="/line.svg" class="line" alt="">
          </div>
          <a href="#title">Very Small Title</a>
        </div>
        <div class="node text_2">
          <div class="menu_images">
            <img class="circle" src="/index_2.svg" alt="">
            <img src="/line.svg" class="line" alt="">
          </div>
          <a href="#title">Very Small Title</a>
        </div>
        <div class="node text_2">
          <div class="menu_images">
            <img class="circle" src="/index_2.svg" alt="">
            <img src="/line.svg" class="line" alt="">
          </div>
          <a href="#title">Very Small Title</a>
        </div>
        <div class="node text_2">
          <div class="menu_images">
            <img class="circle" src="/index_2.svg" alt="">
          </div>
          <a href="#title">Very Small Title</a>
        </div>
      </div>
    </div>
    <div class="writer">
      <p>Writer</p>
      <div class="profile">
        <div class="user_image"></div>
        <div class="user_image"></div>
        <div class="user_image"></div>
        <div class="user_image"></div>
        <div class="user_image"></div>
      </div>
    </div>
  </div>
  <div class="right_content">
    <div class="markdown">
        <div class="container">
			<slot />
		</div>
    </div>
  </div>
  <script>
    window.addEventListener("scroll", () => {
    let scroll_y = window.scrollY;
    if (
        scroll_y <
        document.getElementById("title").clientHeight -
        window.screen.availHeight / 100 * 8 -
        window.screen.availWidth / 100 * 3.3
    ) {
        document.getElementById("left_content").style.transform = `translateY(${-scroll_y}px)`;
    }
    });
  </script>
</body>
</html>