---
const { frontmatter, headings } = Astro.props;
import Menu from "../components/menu.tsx";
import Contributor from "../components/contributor.tsx";
import Index from "../components/index.tsx";
import "../styles/global.css";
import "../styles/markdown.scss";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{frontmatter.title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
      integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-[#c6dff4]">
    <Menu />
    <div class="text-gray-600 flex justify-center items-center" id="title">
      <div class="h-[53vh] flex justify-center items-center">
        <h1 class="text-center text-gray-900 text-[3vw]">
          {frontmatter.title}
        </h1>
      </div>
    </div>

    <div id="left_content">
      <div class="w-[22%] left-[6%] pb-[2vw] fixed top-[53vh]">
        <div class="bg-[#ffffff] rounded-[1.5vw]">
          <p
            class="text-[1.5vw] text-[#1a2023] pt-[1vw] pl-[2vw] font-bold pb-[0.6vw] ml-0"
          >
            Contributor
          </p>
          <Contributor contributors={frontmatter} />
        </div>
        <div class="bg-[#ffffff] rounded-[1.5vw] pb-[1vw] mt-[2vw]">
          <p
            class="text-[1.5vw] text-[#1a2023] pt-[1vw] pl-[2vw] font-bold pb-[0.6vw] ml-0"
          >
            Index
          </p>
          <Index index={headings} />
        </div>
      </div>
    </div>
    <div>
      <div
        class="ml-[auto] mr-[6%] my-[0] bg-[#ffffff] w-[63%] rounded-[1.5vw] pb-[3vw]"
        id="markdown-content"
      >
        <slot />
      </div>
    </div>
    <script is:inline src="/markdown/image.js"></script>
    <script is:inline src="/markdown/markdown.js"></script>
  </body>
</html>
