---
const { frontmatter, headings } = Astro.props;
import Contributor from "../components/contributor.tsx";
import Header from "../components/header.tsx";
import Index from "../components/index.tsx";
import "../styles/global.css";
import "../styles/markdown.scss";
import Footer from "../components/footer.tsx";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{frontmatter.title}</title>
    <link rel="stylesheet" href="/src/styles/katex.css" />
  </head>
  <body class="bg-[#ECF0F3]">
    <Header />

    <div class="text-gray-600 h-[40vh] flex ml-[10.5%] items-center" id="title">
      <h1 class="text-[#4D4D4D] text-[4vw] font-[800] mt-[70px]">
        {frontmatter.title}
      </h1>
    </div>

    <div class="flex justify-center">
      <div class="w-[21%] pb-[2vw]">
        <div class="bg-[#ffffff] rounded-[0.2vw] pb-2" id="contributor">
          <p
            class="text-[1vw] font-[600] text-[#4D4D4D] pt-[2vw] pl-[1.7vw] pb-[0.8vw] ml-0"
          >
            Contributor
          </p>
          <Contributor contributors={frontmatter} />
        </div>
        <div class="bg-[#ffffff] rounded-[0.2vw] pb-[2.1vw]" id="index">
          <p
            class="text-[1vw] font-[600] text-[#4D4D4D] pt-[2vw] pl-[1.7vw] pb-[0.6vw] ml-0"
          >
            Index
          </p>
          <Index index={headings} />
        </div>
      </div>
      <div class="w-[56%] ml-[2%]">
        <div
          class="my-[0] bg-[#ffffff] rounded-[0.2vw] pb-[3vw]"
          id="markdown-content"
        >
          <slot />
        </div>
      </div>
    </div>
    <Footer />
    <script is:inline src="/markdown/image.js"></script>
    <script is:inline src="/markdown/index_move.js"></script>
    <script is:inline src="/markdown/index_highlight.js"></script>
  </body>
</html>
